<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Int" value="5" />
		<add key="String" value="foobar" />
		<add key="Enum" value="Foo|Baz" />
		<add key="DateTime" value="2018-04-21T12:34:56.789Z" />
		<add key="ArrayOfTimeSpans" value="00:00:05, 00:00:10, 00:00:15" />
		<add key="NullableBoolean" value="null" />
	</appSettings>
</configuration>
