<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Int" value="5" />
		<add key="String" value="foobar" />
		<add key="Guid" value="9d50f0fb-4127-4433-b062-7ecf211a2adb" />
		<add key="Enum" value="Foo|Baz" /> <!-- Note that [Flags] are supported -->
		<add key="DateTime" value="2018-04-21T12:34:56.789Z" />
		<add key="ArrayOfTimeSpans" value="00:00:05, 00:00:10, 00:00:15" />
		<add key="NullableBoolean" value="null" />
		<add key="Inner.InnerProp1" value="baz" />
		<add key="Inner.InnerProp2" value="5, null, 7" />
		<add key="Inner.Deeper.InnerProp3" value="Bar" />
		<add key="NestedStaticClass.NestedStaticProp" value="nested static prop value" />
	</appSettings>
</configuration>
